corpus/
BuilderTest.java
analyze_result.txt

*.class
.classpath
.project
.settings
.classpath
.project
SpeedValidation.java
StdinTest.java
/bin/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
#!gradle-wrapper.jar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting


# Cache of project
.gradletasknamecache


*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
# ------
.gradle
/build

# IDEA
# ----
.idea
.shelf
/*.iml
/*.ipr
/*.iws
/out

# Eclipse
# -------
*.classpath
*.project
*.settings
/bin

# NetBeans
# --------
.nb-gradle
.nb-gradle-properties

# Vim
# ---
*.sw[op]

# Emacs
# -----
*~

# Textmate
# --------
.textmate

# Sublime Text
# ------------
*.sublime-*

# jEnv
# ----
.java-version

# OS X
# ----
.DS_Store


